---

- name: Install compilers and related tools
  apt:
    name: [ "gcc", "g++", "gfortran", "pkg-config", "make"  ]
    state: present
    update_cache: yes

- name: Install dependencies
  apt:
    name: [ "libgl1", "libxm4", "libncurses5", "dos2unix"]
    state: present

#- name: Install DISLIN .deb package from the ftp.
#  apt:
#    deb: https://ftp5.gwdg.de/pub/grafik/dislin/linux/i586_64/dislin-11.3.linux.i586_64.deb

#- name: Download DISLIN
#  shell:
#    cmd: wget https://ftp5.gwdg.de/pub/grafik/dislin/linux/i586_64/dislin-11.3.linux.i586_64.deb
#    chdir: /vagrant

#- name: Install DISLIN
#  shell: dpkg -i /vagrant/dislin-11.3.linux.i586_64.deb

- name: Solve vardimn unix endings
  shell: dos2unix /vagrant/libatp/vardimn

- name: Give permissions to vardimn
  file:
    path: /vagrant/libatp/vardimn
    owner: vagrant
    group: vagrant
    mode: '0755'

- name: vardimn listsize.big
  command:
    chdir: /vagrant/libatp
    cmd: ./vardimn listsize.big

- name: Build ATP
  make:
    chdir: /vagrant/libatp
    params:
      NUM_THREADS: 4

- name: Test ATP tpbig
  shell:
    cmd: ./tpbig
    chdir: /vagrant/libatp
  register: test_atp

- debug: var=test_atp.stdout_lines
