---

- name: Install compiler dependencies
  apt:
    name: [ "gcc", "g++", "pkg-config", "make", "cmake", "ninja-build", "libmotif4", "libncurses-dev", "libgfortran"]
    state: present
    update_cache: yes

- name: vardimn listsize.big
  command:
    chdir: /vagrant/libubuntu64
    cmd: ./vardimn listsize.big
